@keyframes tojump{
    0%{
        bottom:0px;
    }
    50%{
        bottom:7rem;
    }
    100%{
        bottom:0px;
    }
}
@keyframes slide{
    from {
        right:-50%;
    }
    to{
        right:100%;
    }
}